.cnUserBadgeRoot {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cnUserBadgeAvatar {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.cnUserBadgePlaceholder {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #efefef;
}

.cnUserBadgeName {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}