.cnNavbarRoot {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
}

.cnNavbarWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}

.cnNavbarLogo {
  text-decoration: none;
  color: #000;
}